@charset "UTF-8";
*			{ margin:0; padding:0; border:0;}
html { font-family:"Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;  font-size: 62.5%; }
body		{ margin: 0; height: 100%; line-height: 1.5;  -webkit-overflow-scrolling: touch;  }
ol,ul,li	{ list-style-type:none; margin:0; padding:0;}
a			{ text-decoration:none;}
i,em,strong,span,address		{ font-style:normal;}
h1,h2		{ font-size: 1.4em;}
h3,h4		{ font-size: 1.4em;}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;word-wrap:break-word}
.cf:before,.cf:after {content:""; display:table;}
.cf:after { clear:both; }/* For IE 6/7 (trigger hasLayout) */
.cf { zoom:1; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }