@charset "UTF-8";
@import "rest";

$wrap-width:1258px; //定宽1258
$top-head-height:64px;//头部高度
$top-head-icon-mgt:24px;//头部图标margin高度
$bgcolor:#f5f5f5;   //背景颜色
$n-font-color:#333; //默认字体颜色
$n-font-color2:#999; //默认字体颜色2
$n-font-color3:#666; //默认字体颜色3
$n-font-money:#cc9966; //金额颜色
$n-font-blue:#3399ff; //字体颜色4
$main-mgl:123px;  //主体距离左侧距离
$border-color:#b9bcbe;//输入框颜色
$border-color2:#eeeeee;//输入框颜色2
$border-color3:#ebebeb;//边框颜色
$aside-li-mgr:8px;  //内容页底部列表margin-right
$left-nav-list:108px; //侧边导航块宽高
%pay-list{
  margin-bottom: 27px;
  width: 174px;
  height: 40px;
  outline: 1px solid $border-color2;
  overflow: hidden;
  cursor: pointer;
}//支付页面列表
%wrap{
  position: relative;
  top: $top-head-height + 11;
  width: 89.941%;
  //margin-left: $main-mgl;
  overflow: hidden;
}
%aside-bock-a{
  display: block;
  font-size: 1.2em;
  color: #ffffff;
}
%trans{
  -webkit-transition: all .3s ease-in-out 0s;-moz-transition: all .3s ease-in-out 0s;-ms-transition: all .3s ease-in-out 0s;
      -o-transition: all .3s ease-in-out 0s;transition: all .3s ease-in-out 0s;
} //过度效果

@import "icon1/*.png";

body{
  background: $bgcolor;
  color: $n-font-color;
  height: 100%;
}
a{
  color: $n-font-color;}
.wrap{
  margin: 0 auto;
  padding-left: $main-mgl;
  overflow: hidden;}
/*通用头部开始*/
.top-head {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  height: $top-head-height;
  background: #010101;
  background-image: linear-gradient(90deg, #010101, #898989);
  overflow: hidden;
  em {
    padding-left: 16px;
      float: left;
      font-size: 1.7em;
      line-height: 64px;
        a{
          color: #ffffff;}
    }
}
.nav-item{
  padding-right: 36px;
  float: right;
    li{
      margin-left: 30px;
      height: $top-head-height;
      float: right;
      color: #ffffff;
      font-size: 1.5em;
        a{
          color: #ffffff;
          font-size: 1em;
          line-height: 64px;}
    }
  .gift{
    padding-right: 4px;
    margin-top: $top-head-icon-mgt;
    float: left;
    width: 16px;
    height: 16px;
    @include icon1-sprite(icon-buy);
  }
  .more{
    padding-right: 4px;
    margin-top: $top-head-icon-mgt;
    float: left;
    width: 16px;
    height: 16px;
    @include icon1-sprite(icon-more);
  }
  .user-name{
    margin-left: 10px;
  }
  .user-pic{
    margin-top: 6px;
    width: 50px;
    height: 50px;
    border: 2px solid #393939;
    border-radius: 50%;
    background: #000;
    overflow: hidden;
    a{line-height: 2em;}
      img{
        width: 101%;}
  }
}
/*通用头部结束*/

/*通用尾部开始*/
.footer {
  position: relative;
  height: 168px;
  background: #000000;
  overflow: hidden;
  p {
    color: #bbb;
    text-align: center;
      a{
        color: #bbb;
      }
  }
  .footer-p1 {
    margin-top: 28px;
    height: 38px;
    font-size: 1.4em;
    line-height: 4em;
  }
  .footer-p2{
    height: 38px;
    font-size: 1.4em;
    line-height: 3em;
  }
  .footer-p3{
    margin-top: 30px;
    height: 26px;
    font-size: 1.2em;
    line-height: 2em;
  }
  .icon-wb {
    width: 29px;
    height: 24px;
    display: inline-block;
    @include icon1-sprite(icon-wb);
  }
  .icon-wx {
    margin-left: 40px;
    width: 32px;
    height: 24px;
    display: inline-block;
    @include icon1-sprite(icon-wx);
  }
}
/*通用尾部结束*/

/*左侧浮动栏*/
.left-nav {
  *float: left;
  position: fixed;
  z-index: 9;
  top: $top-head-height + 11;
  width: 82px;
}
.left-nav-list{
  li {
    margin-bottom: 3px;
    width: $left-nav-list;
    height: $left-nav-list;
    @extend %trans;
    //opacity: .8;
      img{
        width: 100%;}
    /*&:hover {
      opacity: 1;
    }*/
  }
    a {
      font-size: 3.4em;
      line-height: 3.706em;
      font-weight: bold;
      text-align: center;
      color: #ffffff;
      height: 82px;
      display: block;
    }
  .first-bk{
    background: #000;
  }
}
/*左侧浮动栏结束*/

/*首页列表部分*/
.list-wrap {
  padding-bottom: 170px;
  @extend %wrap;
  width: 100%;
  margin-left: 0;
}
.main-list{
  overflow: hidden;
  li{
    position: relative;
    margin: 0 2px 8px;
    float: left;
    width: 32.5%;
    height: 552px;
    overflow: hidden;
    background: #fff;}
  .main-list-img{
    height: 360px;
    img{
      width: 100%;}
  }
  .main-list-info{
    position: relative;
    top: -66px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    width: 83%;
    background: #ffffff;
      header{
        font-size: 3em;
      }
      p{
        margin: 10px 0;
        font-size: 14px;
        line-height: 1.8em;
        color: $n-font-color2;
      }
  }
}
@media (min-width: 1302px) {
  .main-list li {
    width: 24.5%;
  }
}
/*首页列表部分结束*/

/*show页 内容部分*/
$show-mgr:29.6875%;
.show-wrap{
  @extend %wrap;
  width: 70%;
  padding-bottom: 70px;
  margin-left: 0;
  margin-right: $show-mgr;
}
.show-content{
  width: 100%;
  overflow: hidden;
  h1{
    margin: 22px 0;
    font-size: 5.6em;
    line-height: 1.4em;
    font-weight: normal;
  }
  .price{
    height: 40px;
    font-size: 2em;
    line-height: 2em;
    color:$n-font-money;}
  p{
    font-size: 1.8em;
    color: #999999;
    line-height: 1.5em;}
  img{
    margin: 10px 0;
    width: 100%;}
}
.buy-item{
  position: fixed;
  z-index: 9;
  top: 72px;
  right: 0;
  width: 24%;
  min-width: 288px;
  padding: 12px 15px;
  min-height: 500px;
  background: #fdfdfd;
  display: none;
}
.buy-item-tt{
  height: 100px;
  overflow: hidden;
    span{
      float: left;
      width: 100px;
      height: 100px;
      overflow: hidden;
        img{
          width: 100%;}
    }
    h2{
      padding-left: 10px;
      max-height: 80px;
      font-size: 1.9em;
      font-weight: normal;
      line-height: 1.4;
      overflow: hidden;}
    em{
      float: left;
      padding-left: 10px;
      font-size: 1.2em;
      height: 20px;
      line-height: 20px;
      color: $n-font-money;
    }
    i{
      float: left;
      padding-left: 10px;
      width: 228px;
      height: 38px;
      font-size: 12px;
      color: #999999;
      line-height: 1.8em;
    }
}
.buy-form{
  padding-top: 24px;
  overflow: hidden;
  p{
    margin-bottom: 8px;
    height: 32px;
    line-height: 32px;
    font-size: 1.4em;
    color: #666666;
      em{
        padding-left: 10px;
        color: $n-font-money;}
  }
  .buy-third-p{
    margin-bottom: 5px;
  }
}
.buy-first-p{
  label{
    padding-right: 5px;}
  .tool {
    margin: 0 4px;
    width: 12px;
    height: 12px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    border: 1px solid $border-color;
    font-family: 'tahoma';
    cursor: pointer;
  }
  .tool2{
    margin-left: 8px;
  }
}

.buy-btn{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  font-size: 20px;
  color: #ffffff;
  font-family: "Microsoft Yahei";
  font-weight: normal;
  background-color: #333;
  cursor: pointer;
    &::before{
      content: '';
      width: 25px;
      height: 24px;
      position: absolute;
      top: 18px;
      left: 26%;
      display: block;
      @include icon1-sprite(icon-buy2);
    }
}
.input-tp1 {
  width: 240px;
  height: 30px;
  line-height: 30px;
  border: 1px solid $border-color;
  text-indent: 5px;
  box-shadow:inset 0 1px 3px #e7e7e7;
  color: #333;
}
.input-tp2{
  width: 90%;}
.input-tp3{
  width: 92px;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 2px 0 2px 0 \9;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.input-tp5{
  width: 260px;
  background: transparent;
  border: 0;
  border-radius: 0;
  padding: 2px 0 2px 0 \9;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.select-wap{
  float: left;
  width: 74px;
  height: 30px;
  margin-right: 6px;
  box-shadow:inset 0 1px 3px #e7e7e7;
  border: 1px solid $border-color;
  background:#fff url(../images/select-log.jpg) right center no-repeat;
  overflow: hidden;
}
.select-wap2{
  width: 240px;
}
.input-tp4 {
  width: 56px;
}
.aside-list-wrap{
  width: 100%; //59
  overflow: hidden;
}
.aside-list{
  overflow: hidden;
  li{
    margin-right: $aside-li-mgr;
    margin-bottom: 20px;
    float: left;
    width: 32.5%;
    height: 390px;
    background: #ffffff;
    overflow: hidden;
    &:nth-of-type(3n){
      margin-right: 0;
    }
  }
  .aside-list-last-li{
    margin-right: 0;
  }
  .aside-list-img{
    height: 234px;
    img{ width: 100%;}
  }
  .aside-list-info{
    position: relative;
    top: -44px;
    padding: 4.7%;
    margin: 0 auto;
    width: 83%;
    background: #ffffff;
      header{
        font-size: 2em;
      }
    .price{
      font-size: 1.6em;
      line-height: 1.6em;
      color:$n-font-money;}
    p{
      font-size: 1.2em;
      line-height: 1.8em;
      color: $n-font-color2;}
  }
}
.block-item{
  margin: 64px auto 170px 138px;
  width: 80%;
  overflow: hidden;
  div{
    margin-top: 10px;
    @extend %trans;
      &:hover{
        opacity: .9;
      }
  }
  .content{
    padding: 10px;
    float: left;
    width: 170px;
    height: 40px;
    background: #d0d0d0;
      a{
        display: block;
        color: #ffffff;
        font-size: 1.6em;
      }
  }
  .info{
    margin-left: 9px;
    float: left;
    width: 104px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #555555;
    a{
      @extend %aside-bock-a;
      }
  }
  .other{
    margin-left: 9px;
    float: left;
    width: 104px;
    height: 60px;
    @extend %trans;
      &:hover{
        opacity: 1;
      }
      p{
        text-align: center;
        height: 27px;
        line-height: 27px;
        background: #555555;
          @extend %trans;
          &:hover{
            opacity: .9;
          }
          a{
            @extend %aside-bock-a;
          }
      }
    .mgt7{
      margin-top: 7px;}
  }
  .record{
    margin-left: 9px;
    float: left;
    width: 170px;
    height: 27px;
    line-height: 27px;
    background: #555;
    text-align: center;
      a{
        @extend %aside-bock-a;
      }
  }
}
.buy-item-add{
  position: fixed;
  z-index: 9;
  top: 72px;
  right: 0;
  width: 26%;
  min-width: 288px;
  min-height: 260px;
  background: #fdfdfd url("../images/bbf-logo-h-sm.png") center 8px no-repeat;
    p{
      padding-top: 90px;
      font-size: 1.8em;
      text-align: center;
    }
  .buy-item-add-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #333;
    color: #ffffff;
    font-size: 2.2em;
    font-family: "Microsoft Yahei";
    cursor: pointer;
    @extend %trans;
      &::before{
        position: absolute;
        top: 24px;
        left: -14px;
        content: '';
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-right: 7px solid #000;
        display: block;
      }
      &:hover{
        opacity: 0.9;
      }
    span{
      position: relative;
      top: 20px;
      left: 21.19565217391304%;
      width: 26px;
      height: 23px;
      float: left;
      @include icon1-sprite(icon-buy2);
    }
  }
}
@media screen and (max-width:768px) {
  .show-wrap{
    width: 100%;}
  .buy-item-add{
    position: relative;
    top: 0;
    left: 14px;
    padding: 0;
      .buy-item-add-btn{
        position: relative;
        bottom: -60px;
          span{
            left: 18%;
          }
      }
  }
  .buy-item{
    position: relative;
    top: 0;}

}
@media screen and (min-width:1920px) {
  .aside-list li{
    padding-bottom: 20px;}
  .aside-list-info{
    top: -24px;
    height: 160px;
  }
}
@media screen and (min-width:1630px) {
  .aside-list-info{
    height: 146px;
  }
}
@media screen and (max-width: 1200px)and(min-width: 1024px) {
  .show-wrap{
    width: 68%;}
}
@media screen and (max-width: 1024px) and (min-width: 768px){
  .show-wrap{
    width: 64%;}

}
.aside-list-wrap-tt{
  margin: 40px 0 30px 0;
  position: relative;
  height: 24px;
  line-height: 24px;
    .aside-line{
      margin: 0 auto;
      width: 62.5%;
      height: 11px;
      border-bottom: 1px solid #333;
    }
    h5{
      margin-left: -66px;
      padding: 0 22px;
      position: absolute;
      top: 0;
      left: 50%;
      height: 24px;
      font-size: 2.2em;
      font-weight: normal;
      background: $bgcolor;
    }
}
/*show页 内容部分结束*/

/*indent页 开始*/
.indent-wrap{
  @extend %wrap;
  width: 100%;
  min-width: 862px;
  padding-bottom: 70px;
}
.indent-wrap-left{
  float: left;
  width: 47.96875%;
  overflow: hidden;
}
.indent-wrap-right{
  float: right;
  width: 28.75%;
  min-width: 368px;
  overflow: hidden;
}
.indent-wrap-left-item{
  width: 100%;
  padding-bottom: 50px;
  background: #fdfdfd;
  overflow: hidden;
    h2{
      position: relative;
      height: 36px;
      line-height: 36px;
      font-size: 1.4em;
      color: #666666;
      font-weight: normal;
      text-indent: 14px;
      background: $border-color3;
      overflow: hidden;
    }
    .modification {
      position: absolute;
      top: 0;
      right: 14px;
    }
    p{
      height: 42px;
      line-height: 42px;
    }
  label{
    font-size: 1.2em;}
}
.input-ck{
  margin: 14px 6px 0 0;
  float: left;
  width: 14px;
  height: 14px;
}
.input-textarea{
  margin-left: 22px;
  padding: 10px;
  width: 90%;
  height: 30px;
  border: 1px solid $border-color;
}
.payment{
  padding: 32px 0 0 40px;
  overflow: hidden;
  dt{
    @extend %pay-list;
    border: 1px solid $border-color2 \9;
    &:hover{
      /*border: 1px solid #ff5426 \9;
      outline: 2px solid #ff5426;*/
      opacity: .9;
    }
  }
}
.payment-radio{
  margin: 14px 15px 0 11px;
  float: left;}
.indent-bank-list{
  padding: 12px 0 0 40px;
  overflow: hidden;
  li{
    margin-right: 30px;
    float: left;
    border: 1px solid $border-color2 \9;
    @extend %pay-list;
    &:hover {
      /*border: 1px solid #ff5426 \9;
      outline: 2px solid #ff5426;*/
      opacity: .9;
    }
  }
}
.indent-wrap-left-item .active-pay{
  position: relative;
  border: 1px solid #ff5426 \9;
  outline: 2px solid #ff5426;
    &::after{
      content: '';
      position: absolute;
      bottom: -1px;
      right: -1px;
      width: 21px;
      height: 21px;
      display: block;
      overflow: hidden;
      @include icon1-sprite(active);
    }
}
.fl{
  float: left;}
.mgr30{
  margin-right: 30px;}
.mgt20{
  margin-top: 20px;}
.indent-wrap-left-info{
  margin: 40px 0 0 22px;
  overflow: hidden;
  .jia-hao,.jian-hao{
    margin: 7px 5px 0 0;
    float: left;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }
  .jia-hao{
    @include icon1-sprite(jia);
  }
  .jian-hao{
    @include icon1-sprite(jian);
  }
    dt{
      height: 30px;
      line-height: 30px;
      font-weight: bold;
      font-size: 1.4em;
    }
  .red-bag{
    margin-bottom: 10px;
    height: 32px;
    line-height: 32px;
    font-size: 1.4em;}
  label{
    margin-right: 10px;
    font-size: 1em;}
  .input-text{
    width: 116px;
    height: 28px;
    text-indent: 4px;
    line-height: 28px;
    border: 1px solid $border-color;
  }
  .ck-btn{
    width: 84px;
    height: 30px;
    background: #333333;
    color: #ffffff;
    @extend %trans;
    cursor: pointer;
      &:hover{
        opacity: .9;
      }
  }
  .invoice-info {
    padding: 10px;
    font-size: 1.4em;
  }
}
.commodity-list{
  margin: 16px 8px 0 8px;
    li{
      padding: 8px 7px;
      height: 100px;
      overflow: hidden;
      border-bottom: 1px solid $border-color2;}
    .commodity-list-pic{
      margin-right: 10px;
      float: left;
      width: 100px;
      height: 100px;
      overflow: hidden;
        img{
          width: 100%;}
    }
    .commodity-list-tt{
      height: 38px;
      line-height: 18px;
      display: block;
      overflow: hidden;
        a{
          font-size: 1.6em;}
    }
  .commodity-list-price{
    margin: 8px 0;
    height: 14px;
    display: block;
    font-size: 1.2em;
    color: $n-font-money;
  }
  .commodity-list-info{
    height: 30px;
    font-size: 12px;
    color: #999999;
    line-height: 16px;
    overflow: hidden;
  }
}
.subtotal{
  margin:0 8px;
  height: 30px;
  font-size: 1.2em;
  line-height: 30px;
  text-align: right;
  color: $n-font-color2;
    em{
      color: $n-font-money;
    }
}
.pdb10{
  padding-bottom: 10px;}
.pdb0{
  padding-bottom: 0;}
.item-address{
  padding: 10px 20px;
  address{
    overflow: hidden;
    font-size: 1.4em;
    line-height: 1.875em;
  }
  .address-info{
    width: 85%;
  }
}
.pay-for{
  margin: 0 20px;
  height: 60px;
  line-height: 60px;
  font-size: 1.6em;
  text-align: right;
  color: $n-font-color2;
    em{
      color: $n-font-money;
    }
}
.indent-wrap-right-btn {
  width: 100%;
  height: 60px;
  background: #ff9933;
  font-size: 2.4em;
  color: #ffffff;
  cursor: pointer;
  font-family: "SimHei";
  text-shadow: 0 1px 1px #bf7326;
  @extend %trans;
  &:hover {
    opacity: .9;
  }
}
.indent-message{
  padding: 10px;
  overflow: hidden;
  div{
    margin: 10px 20px;
    font-size: 1.4em;
  }
  input{
    float: left;
    margin: 4px 6px 0 0;
  }
}
.pdt10{
  padding-top: 10px;}
.message-info{
  margin: 0 42px;
  font-size: 1.4em;
  line-height: 22px;
  display: block;
  color: $n-font-color3;
}
.color-org{
  background: #333333;
}

@media screen and (min-width:1200px) {
  .indent-wrap-left{
    width: 63%;}
}
@media screen and (min-width:1280px) {
  .indent-wrap-left{
    width: 65%;}
}
@media screen and (min-width:1300px) {
  .indent-wrap-left{
    width: 66%;}
}
@media screen and (min-width:1400px) {
  .indent-wrap-left{
    width: 70%;}
}
@media screen and (max-width:1200px) {
  .indent-wrap-left{
    width: 63%;}
}
@media screen and (max-width:1140px) {
  .indent-wrap-left{
    width: 58%;}
}
@media screen and (max-width:1024px) {
  .indent-wrap-left{
    width: 55%;}
}
@media screen and (max-width: 880px){
  .indent-wrap-left{
    width: 100%;}
  .indent-wrap-right{
    width: 100%;
    margin-left: 0;}
}
.indent-min-w{min-width: 862px;}
.pdl42{
  padding-left: 42px;}
/*indent页 结束*/

/*login页 开始*/
.login{
  position: relative;
  z-index: 11;
  margin: 150px auto;
  width: 400px;
  height: 640px;
  overflow: hidden;
  background: #ffffff;
    .active{
      z-index: 1;}
}
.login-tab-tt {
  position: relative;
  height: 61px;
  background: #333333;
    .active-log{
      background: #ffffff;
      color: #000000;
    }
    .close{
      position: absolute;
      top: 3px;
      right: 3px;
      width: 16px;
      height: 13px;
      @include icon1-sprite(x-n);
        &:hover{
          @include icon1-sprite(x-h);
        }
    }
}
.register,.log-in{
  float: left;
  margin-top: 3px;
  width: 200px;
  height: 58px;
  font-size: 2.4em;
  line-height: 58px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.register-content,.log-in-content{
  position: absolute;
  top: 94px;
  left: 0;
  z-index: -1;
  //padding: 32px 0 42px 0;
  width: 100%;
  height: 84%;
  background: #ffffff;
}
.log-in-content{  background: #ffffff url("../images/bbf-logo-h-sm.png") bottom center no-repeat;
}
.login-input-text {
  margin: 0 auto 14px auto;
  width: 87.5%;
  height: 40px;
  display: block;
  line-height: 40px;
  font-size: 18px;
  text-indent: 16px;
  border: 1px solid $border-color;
  box-shadow: inset 0 1px 3px #e3e3e3;
  color: #666666;
  font-family: "Microsoft Yahei";
}
.login-btn{
  margin: 0 auto;
  width: 87.5%;
  height: 60px;
  display: block;
  font-size: 2.4em;
  color: #ffffff;
  line-height: 60px;
  cursor: pointer;
  font-family: "Microsoft Yahei";
  background: #333333;
  @extend %trans;
    &:hover{
      opacity: .9;
    }
}
.date-item {
  padding-left: 24px;
  height: 80px;
  p {
    height: 40px;
    font-size: 1.8em;
    color: $n-font-color3;
  }
  .selecter {
    float: left;
    margin-right: 20px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-indent: 16px;
  }
  .select-date {
    padding: 10px 0;
    margin-right: 20px;
    width: 100px;
    //height: 40px;
    line-height: 40px;
    border: 1px solid $border-color;
    box-shadow: inset 0 1px 3px #e3e3e3;
    color: $n-font-color;
  }

}
.verification-item{
  margin-top: 15px;
    a{
      line-height: 42px;
      color: #3399cc;
    }
}
.input-verification{
  margin: 0 0 0 24px;
  width: 165px;
  float: left;
}
.yzm-pic{
  margin: 0 14px;
  float: left;
  overflow: hidden;
  width: 70px;
  height: 42px;}
.login-alert{
  height: 40px;
  line-height: 40px;
  color: #ff3333;
  text-align: center;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  //background-color: rgba(0,0,0,0.5); /*暗淡的背景*/
  background-color: #000000;
  opacity: .6;
  filter:alpha(opacity=60);
}
/*login页 结束*/

/*story页 开始 */
.story-wrap{
  padding-right: 420px;
  background:  url(../images/bbf-logo-s.png) top right no-repeat;
}
/*story页 结束*/

/*404页 开始*/
.wrap-404{
  @extend %wrap;
  padding-bottom: 70px;
  width: auto;
  margin-left: 0;
  padding-right: 380px;
  height: 640px;
  background: url(../images/bbf-logo-h.png) 40px center no-repeat;
}
.p-404{
  padding: 144px 0 0 270px;
  font-size: 1.8em;
  color: #333333;
    a{
      color: #33ccff;}
}
.ufo{
  position: relative;
  top: 200px;
  left: 118px;
  width: 124px;
  height: 89px;
  display: block;
  overflow: hidden;
  background: url(../images/ufo.png) 0 0 no-repeat;}
/*404页 结束*/

/*pay-mid 开始*/
.pay-mid-wrap{
  @extend %wrap;
  padding-bottom: 70px;
  width: auto;
  margin-left: 0;
  padding-right: 140px;
  min-height: 716px;
}
.pay-mid-item{
  height: 245px;
  background: #fdfdfd url(../images/bbf-logo-h-sm.png) center right no-repeat;
}
.pay-mid-info{
  margin: 60px 0 0 40px;
  height: 34px;
  line-height: 34px;
  font-size: 1.4em;
  color: $n-font-color3;
    em{
      padding-right: 30px;
      color: #f84c00;}
}
.pay-mid-btn{
  width: 214px;
  height: 34px;
  font-size: 1.3em;
  color: #ffffff;font-family: "Microsoft Yahei";
  background: $n-font-color;
  cursor: pointer;
  @extend %trans;
    &:hover{
      opacity: 0.9;

    }
}
/*pay-mid 结束*/

/*personal-info 开始*/
.personal-info-wrap{
  @extend %wrap;
  width: 78.125%;
  min-width: 1000px;
  padding-bottom: 140px;
  background: #ffffff;
}
.pass-info{
  min-width: 510px;
}
.personal-left-wrap{
  float: left;
  width: 19%;
  min-width: 100px;
  overflow: hidden;
}
.personal-right-wrap {
  float: left;
  width: 80%;
  min-height: 460px;
  border-left: 1px solid $border-color3;
  overflow: hidden;
}
.personal-tablist{
  li{
    margin-bottom: 1px;
    height: 36px;
    line-height: 36px;
    background: #ededed;
    text-indent: 14px;
      a{
        height: 36px;
        display: block;
        font-size: 1.4em;
        color: $n-font-color3;
      }
  }
  .active{
    background: $n-font-color;
      a{
        color: #ffffff;
      }
  }
}
.personal-info-content{
  padding: 55px 0 0 75px;
  p {
    margin-bottom: 12px;
  }
  label{

    height: 36px;
    line-height: 36px;
    padding-right: 15px;
    font-size: 1.4em;
    color: $n-font-color3;
  }
}
.personal-input-text{
  width: 238px;
  height: 28px;
  border: 1px solid $border-color;
  box-shadow: inset 0 1px 3px #e3e3e3;
  text-indent: 6px;
  font-size: 1.4em;
  line-height: 28px;
}
.personal-info-btn{
  margin-left: 47px;
  width: 214px;
  height: 32px;
  line-height: 32px;
  font-size: 1.6em;
  color: #ffffff;
  font-family: "Microsoft Yahei";
  background: #333333;
  cursor: pointer;
  @extend %trans;
    &:hover{
      opacity: 0.9;
    }
}
.personal-select-date{
  width: 74px;
  height: 28px;
  line-height: 28px;
  border: 1px solid $border-color;
  box-shadow: inset 0 1px 3px #e3e3e3;
  font-size: 1.4em;
}
/*personal-info 结束*/

/*personal-password 开始*/
.personal-password-content{
  label {
    float: left;
    width: 60px;
    text-align: right;
  }
  .personal-info-btn{
    margin-left: 75px;
  }
}
/*personal-password 结束*/

/*personal-list 开始*/
.personal-list-content{
  padding: 10px;
}
.personal-list-tt{
  width: 788px;
  height: 30px;
  line-height: 30px;
  background: $border-color3;
    span{
      display: block;
      text-align: center;
      font-size: 1.4em;
      float: left;}
    .span1{
      width: 286px;}
    .span2{
      width: 99px;
    }
}
.personal-list-info{
  width: 786px;
  margin-top: 1px;
  border: 1px solid $border-color3;
  border-bottom: 0 none;
    li{
      overflow: hidden;
      height: 72px;}
  .div1,.div2 {
      float: left;
      border-right: 1px solid $border-color3;
      border-bottom: 1px solid $border-color3;
      height: 71px;
      overflow: hidden;
    }
    .div1{
      width: 286px;}
    .div2{
      width: 99px;
    }
    .div3{
      border-right: 0 none;
      line-height: 71px;
      text-align: center;
        a{
          font-size: 1.2em;
          color: $n-font-blue;
        }
    }
    .div4{
      border-right: 0 none;
      text-align: center;
      a{
        font-size: 1.2em;
        color: $n-font-blue;
      }
    }
  .item-pic{
    float: left;
    margin: 10px 0 0 10px;
    width: 50px;
    height: 50px;
    border: 1px solid $border-color3;
    overflow: hidden;
      img{
        width: 100%;}
  }
  .item-tt{
    margin: 10px 0 0 70px;
    height: 36px;
    overflow: hidden;
    font-size: 1.2em;
    color: $n-font-color2;
  }
  .item-number{
    margin: 0 0 0 70px;
    height: 14px;
    line-height: 14px;
    overflow: hidden;
    font-size: 1.2em;
    color: $n-font-blue;
  }
  .consignee{
    line-height: 71px;
    font-size: 1.2em;
    color: $n-font-color2;
    text-align: center;
  }
  .money{
    padding-top: 20px;
    height: 51px;
    p{
      font-size: 1.2em;
      color: $n-font-color2;
      text-align: center;
    }
  }
  .state{
    line-height: 71px;
    font-size: 1.2em;
    text-align: center;
    color: #ff9933;
  }
  .wait{
    line-height: 71px;
    font-size: 1.2em;
    text-align: center;
    color: #ff4133;
  }
}
.personal-list-pay-btn{
  margin:12px auto 8px auto;
  width: 48px;
  height: 25px;
  display: block;
  background: #333333;
  font-size: 1.2em;
  color: #ffffff;
  font-family: "Microsoft Yahei";
}
/*personal-list 结束*/

/*personal-show 开始*/
.personal-show-content{
  padding: 10px;
}
.personal-show-tt{
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: $border-color3;
}
.personal-show-item{
  margin: 0 auto;
  padding: 20px 0;
  width: 94.67%;
  border-bottom: 1px solid $border-color3;
  overflow: hidden;
    h2{
      margin-bottom: 10px;
     }
    p{
      font-size: 1.4em;
      color: $n-font-color3;  }
    i{
      padding-left: 22px;
      color: #ff0000;
    }
}
.show-item-info-list{
  height: 52px;
  line-height: 52px;
  span{
    float: left;
    width: 50px;
    height: 50px;
    display: block;
    border: 1px solid $border-color3;
    overflow: hidden;
      img{
        width: 100%;}
  }
  em{
    padding: 0 46px 0 20px;
    font-size: 1.2em;
    color: $n-font-color2;
  }
  i{
    font-size: 1.2em;
    color: $n-font-money;
  }
}
.fr{
  float: right;}
.personal-show-item-payment{
  font-size: 2.0em;
  text-align: right;
    em{
      color: #ff0000;

    }
}
.personal-Clearing{
  padding-bottom: 0;
  border-bottom: 0 none;
}
.personal-Clearing-content{
  padding-bottom: 15px;
  float: right;
  overflow: hidden;
  border-bottom: 1px solid $border-color3;
}
/*personal-show 结束*/

/*personal-show-pay 开始*/
.personal-show-item-btn{
  margin-top: 2px;
  width: 146px;
  height: 35px;
  line-height: 35px;
  background: #333333;
  color: #ffffff;
  font-size: 1.4em;
  font-family: "Microsoft Yahei";
  text-align: center;
}
.c-3399ff{
  color: #3399ff;
}
/*personal-show-pay 结束*/

/*personal-show-none 开始*/
.show-none{
  height: 184px;
  line-height: 184px;
  font-size: 1.4em;
  color: $n-font-color;
  text-align: center;
}
/*personal-show-none 结束*/